<div class="col-10 offset-1 about">
    <h1>About Splurty</h1>

    <p>
        Splurty was built by <a target="_blank" href="http://samyayoub.com">Samy Ayoub.</a> A Full stack developer.
    </p>
    <br />
    <p>
        Samy Ayoub is not only a Full stack devloper. He is a photographer, a web designer and much much more.
    </p>

    <div class="row">
        <div class ="col-12 col-sm-4">
            <%= image_tag 'Self.jpg', class: 'img-fluid' %>
        </div>

        <div class="col-12 col-sm-7 offset-sm-1">
            <h2 class="text-center">Samy Ayoub</h2>
            <br />
            <p>
                Samy Ayoub has always been facinated with technology. He loves to break stuff and figure how they are work. He loves building web apps
            </p>
        </div>
    </div>
    <br class="clear" />
    <br />
    <br />
</div>